@model IEnumerable<CdSamling.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Artister</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Lägg till ny artist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-primary text-light" asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                    <a class="btn btn-success text-light" asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a class="btn btn-danger text-light" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
